.pageTitleContainer {
	margin-bottom: 15px;
}

#card {
	cursor: pointer;
	h4 {
		text-transform: capitalize;
	}

	#author {
		span {
			text-transform: none;
		}
		text-transform: capitalize;
	}

	.btnWrap {
		margin-bottom: 15px;
		a:first-child {
			margin-right: 10px;
		}
	}
}
